/*
=====================================================
Código desenvolvido por:
 ██████╗  █████╗ ██████╗ ██████╗ ██╗███████╗██╗
██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║██╔════╝██║
██║  ███╗███████║██████╔╝██████╔╝██║█████╗  ██║
██║   ██║██╔══██║██╔══██╗██╔══██╗██║██╔══╝  ██║
╚██████╔╝██║  ██║██████╔╝██║  ██║██║███████╗███████╗
 ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
 =====================================================
*/

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .postsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


// Pc
@media (min-width:1024px) {
  .main {
    max-width: 880px;
    margin: 0 auto;
    .postsWrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px
    }
  }
    
}

//Tablet
@media (min-width: 768px) and (max-width:1023px) {
  .main {
    width: 100%;
    margin: 0 auto;
    .postsWrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px
    }
  }
}

// Smartphone
@media (max-width:767px) {
  .main {
    width: 100%;
    margin: 0 auto;
    .postsWrapper{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 8px
    }
  }
}